<footer>
    <div class="copyright">
      <p>Copyright © 2019 EZJam Inc. All Rights Reserved.</p>
    </div>
    <div class="social">
      <a href="#" class="support">Contact Us</a>
      <a href="#" class="face">f</a>
      <a href="#" class="tweet">t</a>
      <a href="#" class="linked">in</a>
    </div>
</footer>
  