<div class="topnav">
        <a class="active" href='studios'>Studios</a>
        <right>
        <a align = "right" class="active" href='login'>Login</a>
        <a align = "right" class="active" href='register'>Register</a>
        </right>
</div>

