<div class="topnav">
    <a class="active" href='../pages/studios.ejs'>Home</a>
    <a class="active" href='../pages/login.ejs'>Login</a>
    <a class="active" href='../pages/register.ejs'>Sign Up</a>
</div>
