<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" name="styleCss" href="style.css"> -->
  <title>Reschedule</title>
</head>
<body>
  <form method="POST" action="/profile/<%= consumerId %>/edit/<%= bookingId %>">
    <input type="date" name="bookDate" value = "<%= bookDate %>">
    <button type="submit">Reschedule</button>
  </form>
</body>
<nav><% include ../../partials/footer %></nav>
</html>
