

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- Font Icon -->
    <link rel="stylesheet" href="/navHome.css">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <nav><% include ../partials/navbarHome %></nav>
        
    <center>
        <header>
            <h1>Get your songs recorded professionally</h1>
        </header>
        <h3> How does EZJam work</h3>

        <p>We connect artists and music enthusiast with music studios that they might not have access to previously. </p>

        <p>Artist can search studios, compare prices, request to book, and easily pay through our platform.</p>

        <p>Our studios are also very passionate about helping artists and providing the best experience possible.</p>

    </center>

    <!-- Client Section -->
  <div class="client-section">
        <div class="container text-center">
          <div class="clients owl-carousel owl-theme">
            <div class="single">
              <img src="https://imgur.com/BY1Ea2y" alt="" />
            </div>
            <div class="single">
              <img src="ahttps://imgur.com/d3t9EWp" alt="" />
            </div>
            <div class="single">
              <img src="https://imgur.com/UAGVIiu" alt="" />
            </div>
            <div class="single">
              <img src="https://imgur.com/UAGVIiu" alt="" />
            </div>
            <div class="single">
              <img src="https://imgur.com/BN3xVZZ" alt="" />
            </div>
            <div class="single">
              <img src="https://imgur.com/SQTk42g" alt="" />
            </div>
          </div>
        </div>
      </div>

</body>

<!-- Footer Section -->
<nav><% include ../partials/footer %></nav>