

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- Font Icon -->
    <link rel="stylesheet" href="/navHome.css">
    <% include ../partials/style %>
    <title>EZJAm</title>
</head>
<body>
    <nav><% include ../partials/navbarHome %></nav>
        
    <center>
        <header>
            <br>
            <img src='https://i.imgur.com/CY9WtNw.png' alt="logo" style="max-height: 200px; max-width: 900px;"></img>
            <h2>Get your songs recorded professionally</h2>
        </header>
        <h1> How does EZJam work</h1>

        <p>We connect artists and music enthusiast with music studios that they might not have access to previously. </p>

        <p>Artist can search studios, compare prices, request to book, and easily pay through our platform.</p>

        <p>Our studios are also very passionate about helping artists and providing the best experience possible.</p>

    </center>

</body>

<!-- Footer Section -->
<nav><% include ../partials/footer %></nav>