<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <nav><% include ../partials/navbarHome %></nav>
        
    <center>
        <header>
            <h1>Book EZJam & make music</h1>
        </header>
        <a href="/teachers">Get Started</a>
    </center>


<!-- Footer Section -->

<p> Copyright © 2019 EZJam Inc. All Rights Reserved. </p>
    

