

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Icon -->
    <link rel="stylesheet" href="/navHome.css">
    <title>EZJam</title>
</head>
<body>
    <nav><% include ../partials/navbarHome %></nav>
        
    <center>
        <header>
            <h1>Get your songs recorded professionally</h1>
        </header>
    </center>

<!-- Footer Section -->
<nav><% include ../partials/footer %></nav>